[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 14.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 14.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 14.0
[submodule "stock-logistics-transport"]
	path = stock-logistics-transport
	url = https://github.com/OCA/stock-logistics-transport.git
	branch = 14.0
