[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 14.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 14.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 14.0
[submodule "stock-logistics-transport"]
	path = stock-logistics-transport
	url = https://github.com/OCA/stock-logistics-transport.git
	branch = 14.0
[submodule "rest-framework"]
	path = rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 14.0
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 14.0
[submodule "server-auth"]
	path = server-auth
	url = https://github.com/OCA/server-auth.git
	branch = 14.0
[submodule "delivery-carrier"]
	path = delivery-carrier
	url = https://github.com/OCA/delivery-carrier.git
	branch = 14.0
[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector.git
	branch = 14.0
